* {
    margin: 0;
    padding: 0;
}



.dropdown1{
    display: none;
    position: absolute;
                                  
    border: 3px #E6C939 solid;
    background-color: rgb(37, 36, 36);
    color: #E6C939;
    text-align: center;
    font-family: geotica-w01-four-open;
    font-size: 110%;
    top: 291pt;
    line-height: 20px;
    
}

body {
    background-image: url("https://thumbs.dreamstime.com/b/wooden-background-wood-plank-texture-wooden-background-wood-plank-texture-vector-illustration-109485187.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat ;
    background-size: cover;
}

.haut_titre_lien{
    width: 1000px;
    margin: 0 auto;
}


.haut {
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/Eyy2Ce3.png" );
    text-align: center;
    height: 389px;
    

}
.hautexte {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    border-color: #E6C939;
    border-width: 10px 10px 15px 10px;
    border-style: double;

}

.lien {
    float: left;
    padding-top: 100px;
}

.barrenavigation {
    padding-top: 220px;
    text-decoration: none;
}



.barrenavigation {
    padding-top: 220px;
    text-decoration: none;               
}


.barre_navigation {
    border: 3px #E6C939 solid;
    overflow: hidden;
    top: 0;
    background-color: rgb(37, 36, 36);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    font-family: geotica-w01-four-open;
    font-size: 110%;
    

}




.barre_navigation a {
    color: #E6C939;
    text-align: center;
    padding: 80px;
}

.barre_navigation a:hover {
    color: rgb(53, 53, 53);
    background-color: gray;
}

.barre_navigation a.active {
    color: white;
}


.log_in{
    float: right;
    color: #E6C939;
    display: flex;
    
    
}

.millieu {
    text-align: center;
    background-color: rgb(37, 37, 37);
    margin: 0 auto;
    width: 920px;
    height: 1720px;
    
}

.texte_du_haut{
    font-family:trend-sans-w00-four,sans-serif;
    letter-spacing: 2px;
    line-height: 1.8;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    color: white;
}

.paragraphe {
    color: rgb(219, 217, 217);
}


.bas_de_page {
    border-top: 5px #E6C939 solid;
    background-color: rgb(37, 37, 37);
    height: 300px;
}



.barre_navigation a:hover + .dropdown1{               
    display: block;
    
}
.barre_navigation a {
    color: #e6c939;
    text-align: center;
    padding: 80px;
    
}
.barre_navigation .Textedropdown1 a{
    padding: 0px;
    
}
    
.hoverdropdown1:hover .dropdown1{
    display: block;  
                  
}

.Textedropdown1{
    background-color: rgb(37, 36, 36);
    padding-left: 65px;
    padding-right: 65px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: none;
    
}

.Textedropdown1:hover{
    
    padding-left: 65px;
    padding-right: 65px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: none;
    color: rgb(53, 53, 53);
    background-color: gray;
}


